* {
    box-sizing: border-box;
}

:root {
    --primary: #1ebfc1;
}

html {
    font-size: 62.5%;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", "sans-serif";
}

/* Common */
a {
    text-decoration: none;
}

li {
    list-style: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    --height: 68px;

    display: inline-block;
    min-width: 186px;
    padding: 0 20px;
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    color: #ffffff;
    background: var(--primary);
    border-radius: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    border: 1px solid var(--primary);
    outline: none;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header */
.header {
    position: sticky;
    padding: 52px 0 10px;
    top: -42px;
    z-index: 1;
    background: #fff;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 4px 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #2f3a3b;
}

.navbar__link:hover,
.navbar__link--active,
.header-action__sign-in:hover {
    text-shadow: 1px 0 0 currentColor;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__sign-in {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #494949;
}

.header-action__sign-up {
    --height: 48px;
    margin-left: 24px;
    min-width: 108px;
    border-radius: 6px;
    color: var(--primary);
    background: #ffffff;
    transition: 0.25s ease-in;
}

.header-action__sign-up:hover {
    background: var(--primary);
    color: #ffffff;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 80px;
}

.hero__content {
    width: 34%;
    flex-shrink: 0;
}

.hero__note {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #767e7e;
}

.hero__heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
    color: #0d1111;
}

.hero__desc {
    margin-top: 46px;
    width: 374px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9da6a5;
}

.hero__action {
    display: flex;
    align-items: center;
    margin-top: 52px;
    column-gap: 50px;
}

.hero__action-btn:hover {
    color: var(--primary);
    background: #fff;
    transition: 0.25s ease-in-out;
}

.hero__action-watch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: none;
    color: #1ebfc1;
    background: #fff;
    border: 1px solid var(--primary);
    transition: 0.25s ease-in-out;
}

.hero__action-watch:hover {
    background: var(--primary);
    color: #fff;
}

.hero__image {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 55%;
}

.hero__img {
    width: 576px;
    height: 631px;
    background: #e0f7f6;
    object-fit: cover;
}

.hero__course-group {
    position: absolute;
    display: flex;
    align-items: center;
    left: 25px;
    top: 149px;
    width: 157px;
    height: 75px;
    background: #fff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.hero__book {
    margin: 18px 16px 18px 25px;
}

.hero__course-group::after {
    position: absolute;
    display: block;
    content: "";
    left: 29px;
    bottom: 25px;
    width: 28px;
    height: 4px;
    background: #ffffff;
    border-radius: 4px;
}

.hero__course {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

.schedules {
    position: absolute;
    left: 0;
    bottom: 46px;
    width: 124px;
    height: 124px;
    background: #ffffff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    background: #fff;
}

.schedules-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.schedules-title {
    margin: 16px 0;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

.rectangle__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}

.active-student {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 45px;
    bottom: 41px;
    width: 207px;
    height: 90px;
    background: #fefefd;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.active-student__title {
    margin: 17px 0 0 35px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

.active-student__list {
    display: flex;
    align-items: center;
    margin: 8px 0 17px 35px;
}

.active-student__avatar {
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: var(--primary);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
}

.active-student__item + .active-student__item {
    margin-left: -7px;
}

.active-student__list:hover .active-student__item {
    margin-left: 0;
    transition: 0.25s ease-in-out;
}

/* Feature */
.feature {
    margin-top: 80px;
    padding: 50px 0;
}

.feature-container {
    width: 1024px;
    margin-right: auto;
}

.feature-body {
    left: 0;
}

.feature-label {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #767e7e;
    letter-spacing: 4.5px;
}

.feature__heading {
    margin-top: 18px;
    width: 577px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.33;
    color: #0d1111;
}

.feature__desc {
    margin-top: 18px;
    width: 590px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767e7e;
}

.feature__list {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature__item-name {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #0d1111;
}

.feature__item-desc {
    margin-top: 16px;
    width: 168px;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9da6a5;
}

/* Courses */
.courses {
    padding: 50px 0;
    margin-top: 30px;
}

.courses__inner {
    margin-top: 0;
}

.courses__label {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #767e7e;
    letter-spacing: 4.5px;
}

.courses__heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.5;
    color: #0d1111;
}

.courses__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses__desc {
    margin-top: 19px;
    width: 525px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767e7e;
}

.courses__more {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.5;
    text-decoration-line: underline;
    color: var(--primary);
}

.courses__more:hover {
    opacity: 0.9;
}

.courses__list {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 124px;
}

.courses__item {
    position: relative;
    width: 359px;
    max-width: 100%;
}

.courses__item-image {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    overflow: hidden;
}

.courses__item-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.35;
    background: #d0efed;
    transition: all 0.5s ease-in-out;
}

.courses__item-thumb:hover {
    scale: 1.2;
    opacity: 1;
}

.courses__item-body {
    position: absolute;
    top: 322px;
    left: 17px;
    width: 325px;
    height: 195px;
    padding: 18px 25px 29px;
    background: #ffffff;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.courses__item-title {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.5;
    color: #0d1111;
}

.courses__item-value {
    display: inline-block;
    margin-top: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.6rem;
    color: #767e7e;
}

.courses__item-value strong {
    margin: 16px 0 0 4px;
    font-weight: 700;
    font-size: 2.2rem;
    color: #0d1111;
}

.courses__item-desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9da6a5;
}

.courses__item-row {
    margin-top: 18px;
}

.courses__dot-left,
.courses__dot-right {
    position: relative;
    margin-left: 16px;
}

.courses__dot-left::before,
.courses__dot-right::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 8px;
    left: -16px;
    background: var(--primary);
}

.courses__dot-right {
    margin-left: 26px;
}

/* Stats */
.stats {
    padding: 100px 0;
    margin-top: 115px;
}

.stats__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 862px;
    margin-left: auto;
    margin-right: auto;
}

.stats__value {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.5;
    color: #0d1111;
}

.stats__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats__desc {
    margin-top: 11px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767e7e;
}

/* Feedback */
.feedback {
    padding: 50px 0;
    margin-top: 115px;
}

.feedback__inner {
    display: flex;
    justify-content: space-between;
    height: 441px;
}

.feedback__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback__img {
    width: 36px;
    height: 29px;
}

.feedback__content-desc {
    width: 419px;
    margin-top: 27px;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5d6564;
}

.feedback__sourse {
    position: relative;
    margin-top: 33px;
    font-size: 1.6rem;
    color: #070707;
    padding-left: 15px;
}

.feedback__sourse::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 8px;
    height: 2px;
    top: 50%;
    left: 5px;
    transform: translateX(-50%);
    background: #070707;
}

.feedback__sourse strong {
    font-weight: 600;
    font-size: 1.6rem;
    color: #070707;
}

.feedback__control-btn {
    margin-top: 52px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    background: #2ac9bf;
    border: 1px solid #2ac9bf;
    outline: none;
}

.feedback__control-btn + .feedback__control-btn {
    margin-left: 30px;
}

.feedback__control-btn:hover {
    color: #2ac9bf;
    background: #fff;
    border: 1px solid #2ac9bf;
}

.feedback__control-next {
    rotate: 180deg;
}

.feedback__avatar-user {
    position: relative;
}

.feedback__avatar-circle {
    position: absolute;
    border-radius: 50%;
}

.feedback__avatar-01 {
    --bg-color: #1ebfc1;
    width: 92px;
    height: 92px;
    top: 0;
    right: 443px;
    background: var(--bg-color);
}

.feedback__avatar-02 {
    --bg-color: #bf83ff;
    width: 110px;
    height: 110px;
    top: 19px;
    right: 0;
    background: var(--bg-color);
}

.feedback__avatar-03 {
    --bg-color: #ffc147;
    width: 78px;
    height: 78px;
    top: 258px;
    right: 601px;
    background: var(--bg-color);
}

.feedback__avatar-04 {
    --bg-color: #ff8282;
    width: 235px;
    height: 235px;
    top: 107px;
    right: 171px;
    background: var(--bg-color);
}

.feedback__avatar-05 {
    --bg-color: #ff947a;
    width: 78px;
    height: 78px;
    bottom: 0;
    right: 389px;
    background: var(--bg-color);
}

.feedback__avatar-06 {
    --bg-color: #b1dfdc;
    width: 78px;
    height: 78px;
    bottom: 29px;
    right: 32px;
    background: var(--bg-color);
}

.cta {
    padding: 88px 0 76px;
    margin-top: 80px;
    background: #def6f5;
}

.cta__inner {
    width: 1016px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta__heading {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.5;
    color: #070707;
}

.cta__desc {
    margin-top: 18px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767e7e;
}

.cta__btn {
    margin-left: auto;
}

.cta__btn:hover {
    background: #fff;
    color: var(--primary);
}

/* Footer */
.footer {
    margin-top: 130px;
}

.footer__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__title {
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #2e2e2e;
}

.footer__item {
    margin-bottom: 20px;
}

.footer__item:last-child {
    margin-bottom: 0;
}

.footer__link {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #535353;
}

.footer__link:hover,
.footer__social-item:hover {
    text-decoration: underline;
}

.footer__social {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.footer__social-title {
    margin-bottom: 0;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fff;
}

.footer__social-item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.footer__social-item:hover {
    cursor: pointer;
}

.footer__social-item:last-child {
    margin-bottom: 0;
}

.footer__social-name {
    margin-left: 10px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #535353;
}

.copyright {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #b0b5b4;
    padding: 20px;
    margin: 60px 0 20px;
}
